<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    <!-- declare a variable called messages -->
        {% if messages %}
        <!-- check if there are any messages -->
        {% for message in messages %}
        <!-- loop through the messages -->
        <p>{{message}}</p> <!-- display each message in a paragraph tag -->
        {% endfor %}
        {% endif %}
    {% endwith %}
    <h2>Edit the pet with id {{ edit_pet['pet_id'] }}:</h2>
    <form action="/pets/{{ edit_pet['pet_id'] }}/update" method="POST">
        <p>Name: <input type="text" name="pet_name" value="{{ edit_pet['name'] }}"></p>
        <p>Type: <input type="text" name="type" value="{{ edit_pet['type'] }}"></p>
        <input type="submit" value="Edit">
    </form>
</body>
</html>